.login-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  background-size: cover;
  background-position: center;
  position: relative;
}


.login-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(60, 9, 108, 0.65);
}

.login-box {
  width: 820px;
  height: 480px;
  background: white;
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 30px 60px rgba(0,0,0,0.3);
  position: relative;
  z-index: 2;
}

.login-brand {
  width: 50%;
  background: linear-gradient(135deg, #3c096c, #7b2cbf);
  color: white;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-image {
  width: 230px;
  margin-bottom: 20px;
}


.login-form {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-avatar {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto 10px;
  border: 4px solid #9d4edd;
}

.login-form h3 {
  text-align: center;
  color: #5a189a;
  margin-bottom: 15px;
}


.role-select {
  display: flex;
  gap: 6px;
  margin-bottom: 15px;
}

.role-select button {
  flex: 1;
  padding: 10px 0;
  border-radius: 14px;
  border: 2px solid #9d4edd;
  background: transparent;
  color: #5a189a;
  font-weight: bold;
  cursor: pointer;
}

.role-select button.active {
  background: #7b2cbf;
  color: white;
}


.login-form form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.login-form input {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.login-form button {
  padding: 12px;
  border-radius: 14px;
  background: #7b2cbf;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 13px;
  text-align: center;
}


.switch-mode {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.switch-mode span {
  color: #7b2cbf;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
  transition: 0.3s;
}

.switch-mode span:hover {
  text-decoration: underline;
}
